header {
    width: 100%;
    // height: 50vh;
    // background: no-repeat url(images/mobile/image-header.jpg) center/100%;

    position: relative;

    .top {
        width: 100%;
        padding: 7% 5%;

        position: absolute;
        top: 0;

        display: flex;
        justify-content: space-between;

        // border: 1px solid black;
    }

    .creative {
        width: 100%;

        position: absolute;
        top: 25%;

        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        
        // border: 1px solid white;
    }

    h1 {
        color: $white;
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }

    nav {
        display: none;
    }

    @include bigger-than-1024px {

        .top {
            padding-block: 2rem;
        }

        .hamburger {
            display: none;
        }

        nav {
            display: block;
            width: 40%;

            // border: 1px solid black;

            ul {
                display: flex;
                justify-content: center;
                gap: 10%;

                li {
                    list-style-type: none;

                    a {
                        color: white;
                        text-decoration: none;
                    }

                    .active {
                        background-color: white;
                        color: black;
                        font-family: "Fraunces", sans-serif;
                        text-transform: uppercase;
                        padding: 1rem 2rem;
                        border-radius: 2rem;

                        &:hover {
                            background-color: hsla(hue($grayish-blue), saturation($grayish-blue), lightness($grayish-blue), 0.3);
                        }
                    }
                }
            }
        }

    }
}